<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_ChildrenCategories>
            <version>1.0.0.0</version>
        </MageProfis_ChildrenCategories>
    </modules>
    <global>
        <blocks>
            <childrencategories>
                <class>MageProfis_ChildrenCategories_Block</class>
            </childrencategories>
        </blocks>
        <helpers>
            <childrencategories>
                <class>MageProfis_ChildrenCategories_Helper</class>
            </childrencategories>
        </helpers>
        <models>
            <childrencategories>
                <class>MageProfis_ChildrenCategories_Model</class>
            </childrencategories>
        </models>
        <resources>
            <childrencategories_setup>
                <setup>
                    <module>MageProfis_ChildrenCategories</module>
                    <class>MageProfis_ChildrenCategories_Model_Resource_Setup</class>
                </setup>
            </childrencategories_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <childrencategories>
                    <file>mageprofis-childrencategories.xml</file>
                </childrencategories>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <childrencategories>
                                            <title>ChildrenCategories</title>
                                        </childrencategories>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
       <translate>
           <modules>
               <childrencategories>
                   <files>
                       <default>MageProfis_ChildrenCategories.csv</default>
                   </files>
               </childrencategories>
           </modules>
       </translate>
    </adminhtml>
</config>
